
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:20%;
    float:left;
    padding:5px; 
}
#section {
    float: left;
width: 40%;
background-color:#8A2BE2;
height:300px;
}
#block {
	float: left;
width: 40%;
background-color:#9370DB;
height:300px; }

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
