body {
	font-family: 'Cinzel', serif;
}
header {
	border: solid;
	border-radius: 30%;
	border-color: #00FFFF;
	font-size: 70px;
	text-align: center;
	color: #00FA9A;
}
nav {
	list-style-type: none;
  margin-right: 50px;
  padding: 3px;
  float: center;
  border: solid;
  border-radius: 5px;
  border-color: white;
  text-align: center;
  color: #191970;
}


img {
	margin-left: 50px;
	border: 2px solid;
    border-radius: 50%;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

li {display: inline;
  padding-left: 10px;
  border: 1px;
  margin-right: 50px;
  margin-left: 50px;

}

.col-sm-4 {
	display: inline-block;
	width: 400px;
	margin: 30px;
	
	
}

.col-sm-8 {display: inline-block;
width: 800px;
margin: 30px;
	border: ridge;
	border-color: #6495ED;
	padding: 30px;

}

#right {float: left;
width: 50%;
}

#left {float: left;
width: 50%;
}